---
// Logo using the image from public folder
---

<a href="/" class="flex items-center space-x-3 hover:opacity-80 transition-opacity">
  <img
    src="/logo.png"
    alt="Szegedi Magasszálló Keringő Logo"
    class="h-20 w-auto"
  />
  <span class="font-serif text-xl font-bold text-gray-800 hidden lg:block">
    Szegedi Magasszálló Keringő
  </span>
</a>
